
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}


header {
    background-color: var(--color-primario);
    color: white;
    padding: 20px;
    text-align: center;
}


nav {
    background-color: var(--color-secundario);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
    border-radius: 6px;
}

main {
    animation: fadeIn 0.8s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card img {
    height: 180px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.card a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 15px;
    text-align: center;
}

:root {
    --color-primario: #1f1f1f;
    --color-secundario: #c59d5f;
    --color-fondo: #f4f4f4;
    --color-texto: #333;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.split {
    display: flex;
    align-items: center;
    gap: 40px;
}

.split .text {
    flex: 1;
}

.split .image {
    flex: 1;
}

.split img {
    width: 70%;
    border-radius: 8px;
}

.hero {
    background-color: white;
    padding: 60px 0;
}
